main {
    grid-area: main;
    padding: 1rem;
}

main section h2 {
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: 0.1rem;
    margin-bottom: 2rem;
    text-align: center;
    padding: 0 1rem;
}

main .produtos ul {

    /* Utilizando display flex para aplicar o gap entre os produtos */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

main .produtos .produto {
    max-width: 368px;
    border-radius: 14px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--cor-cinza-escuro);
}

main .produto img {
    width: 100%;
    height: 334px;
    border-radius: 14px 14px 0 0;

    /* Para uma dinâmica melhor no posicionamento da imagem colocamos o display block, e atribuímos outros atributos */
    display: block;
    object-position: center;
    object-fit: cover;
}

main .produto figcaption {
    background-color: var(--cor-cinza-escuro);
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
    text-align: center;
    padding: 1.5rem 1.5rem 1rem;
}

main .informacoes {
    background-color: var(--cor-cinza-escuro);
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 0 1.5rem 1.5rem;
    border-radius: 0 0 14px 14px;
}

main .informacoes span {
    color: var(--cor-cinza-clara);

}

main .informacoes strong {
    color: var(--cor-cinza-clara);
    font-size: 0.9rem;
    letter-spacing: 0.1rem;
}

main .informacoes .preco {
    font-size: 2rem;
    margin-top: 1rem;
    text-align: right;
}

main .informacoes .adicionar-ao-carrinho {
    background-color: var(--cor-primaria);
    border: none;
    border-radius: 8px;
    color: var(--cor-neutra-branca);
    padding: 1rem;
    cursor: pointer;
    margin-top: 0.5rem;

    /* Aplicando uma animação de transição no botão */
    transition: background-color 0.3s ease-in-out;

    font-size: 1.2rem;
    letter-spacing: 0.1rem;
}

main .informacoes .adicionar-ao-carrinho:hover {
    background-color: var(--cor-primaria-hover);
}


@media (min-width: 768px) {

    main .produtos .produto {
        min-width: 368px;
    }

    main .produtos ul {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 2rem;
    }
}

@media (min-width: 1200px) {
    main section {
        max-width: 1170px;
        margin: 0 auto;
    }

    main section h2 {
        text-align: left;
    }
}