.rodape {
    grid-area: footer;
    background-color: var(--cor-cinza-escuro);
}

.rodape .container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 1rem;
    padding: 3rem 1rem;

}

.rodape nav {
    width: 300px;
}

.rodape nav h3 {
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
    margin-bottom: 1rem;
}

.rodape nav ul li {
    margin-bottom: 0.7rem;
    color: var(--cor-roxa-clara);
}

.rodape nav a {
    color: var(--cor-roxa-clara);
    text-decoration: none;
    letter-spacing: 0.1rem;
    transition: color 0.3s ease-in-out;
}

.rodape nav a:hover {
    color: var(--cor-neutra-clara);
}

.rodape .copyright {
    background-color: var(--cor-neutra-escura);
    text-align: center;
    padding: 1.5rem;
    letter-spacing: 0.1rem;
}

@media (min-width:768px) {
    .rodape .container {
        flex-direction: row;
        align-items: baseline;
    }
}

@media (min-width: 1170px) {
    .rodape .container {
        width: 1170px;
        margin: 0 auto;
    }
}