body {
    background-color: #111;
    color: #fff;
    min-height: 100vh;

    /* O display grid faz com que o layout fique responsivi de um jeito mais fácil, funcionando basicamente como uma grade.
    
    Com o "areas" identificamos quais seções terão o display. Com o "rows" definimos a altura do conteúdo que está dentro de cada área, sendo a ordem de definição de valor respectiva a ordem de áreas indicadas.
    
    Com o "auto" a altura será exatamente igual ao tamanho do conteúdo dentro da seção. Com o "1fr" (unidade única do grid) a altura correspondera a 1 fração do espaço restante da página */
    
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        "header"
        "main"
        "footer";
}